@{
    ViewData["Title"] = "Iniciar Sesion";
}
<body class = "body1">
    <h2>Iniciar sesión</h2>

<section class="login-container">
    <form method="post">
        <label>Nombre de usuario</label>
        <input type="text" name="nombre" autocomplete="off" required />

        <label>Contraseña</label>
        <input type="password" name="password" required />

        <button type="submit">Entrar</button>
    </form>

    @if (ViewBag.Error != null)
    {
        <section class="error">@ViewBag.Error</section>
    }

    <p>¿No tenés cuenta? <a href="/Home/Registrar">Registrate acá</a></p>
</section>
</body>
