@{
    ViewData["Title"] = "Registrar";
}

<h2>Registrar nuevo integrante</h2>

<form method="post">
    
    <input type="text" name="n" placeholder = "Nombre de usuario o Email">

    <input type="password" name="p" placeholder = "Contraseña" />

    <input type="number" name="edad" placeholder = "Edad" />

    <input type="date" name="f" placeholder =  "Fecha de ingreso" />

    <input type = "number" name="t" placeholder =  "Años en la organización" />

    <input type = "text" name="d" placeholder = "Direccion" />

    <input type = "tel" name="tel" placeholder = "Telefono" />

    <input type="submit" Registrar>
</form>

<p>¿Ya tenés cuenta? <a href="/Home/Index">Volver al login</a></p>
