@{
    ViewData["Title"] = "Registrar";
}
<body class = "body2">
   <section class="form-registro-title">
    <h2 >Registrar nuevo integrante</h2>
</section>

<section class="form-registro">
<form method="post" >
    <input type="text" name="n" placeholder="Nombre de usuario o Email" autocomplete="off" class="input-campo" />
    <input type="password" name="p" placeholder="Contraseña" class="input-campo" />
    <input type="number" name="edad" placeholder="Edad" autocomplete="off" class="input-campo" />
    <input type="date" name="f" placeholder="Fecha de ingreso" autocomplete="off" class="input-campo" />
    <input type="number" name="t" placeholder="Años en la organización" autocomplete="off" class="input-campo" />
    <input type="text" name="d" placeholder="Dirección" autocomplete="off" class="input-campo" />
    <input type="tel" name="tel" placeholder="Teléfono" autocomplete="off" class="input-campo" />
    <input type="submit" value="Registrar" class="btn-registrar" />
</form>
</section>
<section class="texto-pie">
   <p> ¿Ya tenés cuenta? <a href="/Home/Index">Volver al login</a></p>
</section> 
</body>
